@import "/src/utilities/colorVariables.scss";
.header {
  background-color: $secondary;
  position: static;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
